@media (max-width: 1250px) {
  .destinations__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    gap: 75px;
  }
  .destinations__right {
    padding-top: 0;
  }
  .destinations__img {
    img {
      max-width: 300px;
      max-height: 300px;
    }
  }
  .destinations__name {
    font-size: 80px;
  }
  .destinations__desc {
    font-size: 16px;
  }
  .destinations__values {
    justify-content: center;
    padding-bottom: 30px;
  }
  .destinations__title {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .destinations {
    background: url(../../assets/destination/background-destination-tablet.jpg)
      no-repeat;
    background-size: cover;
  }
  .destinations__content {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .destinations__title {
    font-size: 20px;
    margin-bottom: 32px;
  }
}

@media (max-width: 460px) {
  .destinations__title {
    font-size: 16px;
  }

  .destinations__content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .destinations__img {
    img {
      max-width: 250px;
      max-height: 250px;
    }
  }
  .destinations__name {
    font-size: 56px;
  }
  .destinations__desc {
    font-size: 15px;
  }
  .destinations__values {
    flex-direction: column;
    gap: 25px;
    padding-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .destinations {
    background: url(../../assets/destination/background-destination-mobile.jpg)
      no-repeat;
    background-size: cover;
  }
  .destinations__content {
    padding-left: 5px;
    padding-right: 5px;
  }
}
