.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.header__nav {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
}
.header__img {
  padding-left: 55px;
  img {
    width: 50px;
    height: 50px;
  }
}
.header__list {
  display: flex;
  align-items: center;
  margin-left: 123px;
  margin-right: 163px;
  padding: 38px 0;
  gap: 48px;
}

.header__item {
  position: relative;
  &::after {
    content: "";
  }
  &:hover {
    &::after {
      transition: all 0.3s linear;
      content: "";
      position: absolute;
      bottom: -36px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: white;
      opacity: 0.5021478533744812;
    }
  }
}

.header__item-link {
  font-family: var(--ff-barlow-condesed);
  font-weight: var(--fw-regular);
  font-size: var(--fs-nav-text);
  color: var(--white-cl);
  letter-spacing: var(--ls-nav-text);
  span {
    font-weight: var(--fw-bold);
    margin-right: 10px;
  }
}
.header__nav-burger {
  display: none;
}

.mobile__btn {
  display: none;
}
